@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet-active {
  background-color: #f26641 !important;
  height: 10px !important;
  width: 10px !important;
}

.swiper-pagination-bullet {
  border: 2px solid #f26641 !important;
  height: 10px !important;
  width: 10px !important;
}
